body {
  font-family: 'Libre Baskerville', sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  border-right: 20px solid rgb(5, 5, 119);
  border-left: 20px solid rgb(5, 5, 119);
  border-bottom: 20px solid rgb(5, 5, 119);
}

header {
  background-color: rgb(5, 5, 119);
  color: white;
  padding: 20px 50px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 50px;
}

header p {
  font-size: 18px;
  margin-top: 10px;
}

section {
  background-color: rgb(20, 132, 245);
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 50px;
  margin: 50px auto;
  max-width: 800px;
}


h2 {
  color: white;
  margin-bottom: 10px;
  font-size: 50px;
}

ul {
  padding-left: 20px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
